
/* HOME PAGE STYLES */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins', sans-serif ; 
 scroll-behavior: smooth;  
}





.search-box {
  margin-left: 20px;
  position: relative;
  
  
}

.search-box input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  width: 500px;
}

.search-box input:focus {
  border-color: black;
}

.search-box button {
  position: absolute;
  right: 5px;
  top: 20%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search-box button img {
  width: 18px;  /* adjust size */
  height: 18px;
  font-weight: bolder;
}


header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #161616;
  position: relative;
  z-index: 1000;
}

/* Hide checkbox */
#menu-toggle {
  display: none;
}

/* Hamburger icon */
.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none; /* hidden on desktop */
  z-index: 1001;
}

/* Desktop menu */
.mobile-menu {
  display: flex;
  gap: 20px;

}

.mobile-menu ul :hover{
  color: rgb(235, 160, 172);
  transform: translateY(-1px);

}


.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  position: relative;
  left: -22%;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}





.logo img{
  height: 50px;
  width: 50px;
  border-radius: 15px;
  position: relative;
  left: 42%;
}
.cart-icon{
cursor:pointer;
position: relative;
bottom: -12%;

}


.page2{
   padding:5px;
   text-align:center;
   background-color: rgb(252, 253, 253);
   margin-top: 50px;
}

.page3{
   padding:5px;
   text-align:center;
   background-color: rgb(245, 243, 243);
   margin-top: 50px;
}

.page4{
   padding:5px;
   text-align:center;
   background-color: rgb(245, 243, 243);
    margin-top: 50px;
}





.page{
    padding:40px;
   text-align:center;
   background-color: rgb(234, 238, 237);
}


.about-content{
max-width: 800px;
margin: auto;
text-align: center;
line-height: 1.6;
}


.about-boxes{
display: flex;
gap: 20px;
justify-content: center;
margin-top: 40px;
flex-wrap: wrap;
}

.box{
background: #fff;
padding: 50px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0,0,0.08);
max-width: 300px;
transition: 0.3s;
}

.box:hover{
transform: translateY(-5px);
}


.why-us{
margin-top: 40px;
text-align: center;
}

.why-us ul{
list-style: none;
margin-top: 15px;
}

.why-us li{
margin: 10px 0;
}


/* TEAM SECTION */
.team-section {
  padding: 60px 20px;
  background: #f9f9f9;
  text-align: center;
}

.team-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #333;
}

/* GRID LAYOUT */
.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

/* CARD STYLE */
.team-card {
  background: #fff;
  padding: 25px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.team-card:hover {
  transform: translateY(-8px);
}

/* IMAGE */
.team-card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #c3ccdd;
}

/* TEXT */
.team-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #222;
}

.team-card .role {
  font-size: 14px;
  color: #2575fc;
  font-weight: 500;
  margin-bottom: 8px;
}

.team-card .email {
  font-size: 13px;
  color: #666;
}



.hero{
height:80vh;
background:url(images/backgroup.jpg) center/cover;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
animation:fadeIn 2s ease;
}

.hero h1{
font-size:60px;
}


.toast{
position: fixed;
bottom: 20px;
right: 20px;
background: #d30e0e;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
}

.hero::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 93%;
background: rgba(0,0,0,0.5);
z-index: 1;

}


.hero *{
position: relative;
z-index:1;
}


.btn{
background:#f03473;
padding:12px 25px;
color:white;
text-decoration:none;
margin-top:15px;
border-radius:5px;
}





.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:30px;
}

.card{
background:white;
padding:5px;
border-radius:10px;
text-align:center;
transition:0.3s;

}


.card h3{
 
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-style: italic;
}

 h4 a{
  text-decoration: none;
  background-color: #df6294;
  padding: 12px 10px;
  border-radius: 10px;
  color: white;
}



.card img{
width:90%;
height:250px;
object-fit:cover;
border-radius:10px;
}

.card img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.card:hover{
transform: scale(1.05) translateY(-5px);
}


.featured{ 
    background:#f4f4f4;
   padding:25px;   
   text-align:center;
}


button{
background:#e91e63;
color:white;
border:none;
padding:10px;
margin-top:10px;
cursor:pointer;
border-radius: 10px;
}




.cart {
position:fixed;
right:-300px;
top:0;
width:300px;
height:100%;
background:white;
padding:20px;
box-shadow:-2px 0 5px rgba(0,0,0,0.3);
transition:0.3s;
}

.cart-icon a{
  color: white;
  text-decoration: none;
  
}

.cart.active{
right:0;
}


/* CONTACT PAGE STYLES */
.contact-container{
padding: 60px 20px;
background: #f9f9f9;
}

.contact-container h1{
text-align: center;
font-size: 36px;
margin-bottom: 40px;
}


.contact-wrapper{
display: flex;
gap: 40px;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
}

.contact-form{
flex: 1;
min-width: 300px;
max-width: 500px;
background: white;
padding: 30px;
border-radius: 12px;
box-shadow: 0 8px 25px rgba(0,0,0,0.08);
animation: fadeIn 1s ease;
}

.contact-form form{
display: flex;
flex-direction: column;
gap: 15px;
}

.contact-form input,
.contact-form textarea{
padding: 12px;
border: 1px solid #ddd;
border-radius: 6px;
font-size: 14px;
outline: none;
transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus{
border-color: #e91e63;
box-shadow: 0 0 5px rgba(233,30,99,0.3);
}

.contact-form textarea{
min-height: 120px;
}


.contact-form button{
background: #e91e63;
color: white;
border: none;
padding: 12px;
border-radius: 6px;
cursor: pointer;
transition: 0.3s;
}

.contact-form button:hover{
background: #c2185b;
transform: translateY(-2px);
}



.contact-info{
flex: 1;
min-width: 250px;
display: flex;
flex-direction: column;
gap: 20px;
}


.info-box{
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0,0,0.08);
transition: 0.3s;
}

.info-box:hover{
transform: translateY(-5px);
}

.info-box h3{
margin-bottom: 8px;
}


.map iframe{
width: 100%;
height: 300px;
border: none;
margin-top: 40px;
}

/* LOGIN PAGE STYLES */

.login-page{
display: flex;
height: 100vh;


}


.login-image{
flex: 1;
background: url('images/backgroup.jpg') center/cover no-repeat;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
}


.login-image::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
}

.login-image h1,
.login-image p{
position: relative;
z-index: 2;


}


.login-form{
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
padding: 40px 30px;
background: #fff;
}

.login-form h2{
font-size: 28px;
margin-bottom: 10px;
}

.login-form p{
color: #777;
margin-bottom: 20px;
}


.input-group{
position: relative;
margin-bottom: 20px;
}

.input-group input{
width: 100%;
padding: 12px 16px;
border: 1px solid #ccc;
border-radius: 6px;
outline: none;
}

.input-group label{
position: absolute;
top: 50%;
left: 12px;
transform: translateY(-50%);
background: white;
padding: 0 5px;
color: #999;
transition: 0.3s;
}


.input-group input:focus + label,
.input-group input:valid + label{
top: -8px;
font-size: 12px;
color: #e91e63;
}


.login-form button{
width: 100%;
padding: 12px;
background: #e91e63;
color: white;
border: none;
border-radius: 6px;
cursor: pointer;
transition: 0.3s;
}

.login-form button:hover{
background: #c2185b;
}


.extra{
margin-top: 15px;
font-size: 14px;
}

.extra a{
color: #e91e63;
text-decoration: none;
}



.footer {
    background: #111;
    color: #fff;
    padding: 60px 40px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.footer-box h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-box a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin: 8px 0;
    transition: 0.3s;
}

.footer-box a:hover {
    color: #fff;
}

.footer-box p {
    color: #ccc;
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 15px;
    font-size: 14px;
    
}


.social-media {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.social-media img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: 0.3s;
    position: relative;
    left: -2vw;
    border-radius: 12px;
    margin-top: -12px;
}





 

 /* HOME PAGE RESPONSIVE */

@keyframes fadeIn{
from{opacity:0;}
to{opacity:1;}
}

@media(max-width:768px){
.hero h1{
font-size:30px;
}

.grid{
display:grid;
grid-template-columns: repeat(1, 1fr);
gap:20px;
padding:30px;

}

.hero{
height:80vh;

}



.card{
background:white;
padding:25px;
border-radius:10px;
text-align:center;
transition:0.3s;
flex-wrap: wrap;

}


.card img{
width:100%;
height:300px;
object-fit:cover;
border-radius:10px;


}



  .hamburger {
    display: block;
    color: white;
    font-weight: bolder;
  }

  /* Overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }

  #menu-toggle:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
  }

  /* Slide-in menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    z-index: 1001;
  }

  #menu-toggle:checked ~ .mobile-menu {
    right: 0;
  }

  .mobile-menu ul {
    flex-direction: column;
    gap: 0;
    position: relative;
    left: -1%;
  }

  .mobile-menu ul li a {
    padding: 15px 20px;
    color: black;
    
  }

   .cart-icon{
cursor:pointer;
position: relative;
left: 0;
color: black;

}

 .cart-icon a{
  color: black;
  text-decoration: none;
}


.featured{ 
    background:#f4f4f4;
   padding:5px;   
   text-align:center;
}

.logo img {
  font-size: 30px;
  font-weight: bold;
  position: relative;
 
}


.card{
  padding: 2px;
}

.member{
  padding: 50px;
}

.search-box{
  display: block;
  
}

.search-box input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
 width: 100%;
}

 /* CONTACT PAGE RESPONSIVE */
.contact-wrapper{
flex-direction: column;
align-items: center;
}

 /* LOGIN PAGE RESPONSIVE */

.login-page{
flex-direction: column;
}

.login-image{
height: 40vh;
}

.login-form{
padding: 30px;
}


header{
  padding: 10px 10px;
}

/* RESPONSIVE taem section*/

  .team-section h2 {
    font-size: 26px;
  }

  .team-card {
    padding: 20px;
  }
}




 